<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>🎉</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="flex-container-row" style="height:100%">
    <div class="flex-container-col">
    <ion-text>
      <h2>
        Dankeschöösch! Phillip guckt dann mal drüber.
        Ergebnisse sind <ion-text tappable [routerLink]="['/results/index']" routerDirection="forward" style="text-decoration: underline;">hier</ion-text> zu finden.
      </h2>
    </ion-text>

    <div>
    <ion-button expand="block" [routerLink]="['/quiz/index']" routerDirection="forward" >
      OK
    </ion-button>
    </div>
    </div>
  </div>
</ion-content>
