<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>

        <ion-col>
          <ion-select placeholder="Kategorie" interface="popover" (ionChange)="changedSelect()" [(ngModel)]="sectionFilter">
            <ion-select-option *ngFor="let option of sectionOptions" [value]="option.val">{{ option.name }}
            </ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col>
          <ion-title [class.hide]="win === WindowSize.xs">Fortschritt</ion-title>
        </ion-col>

        <ion-col>
          <ion-button (click)="logout()">
            <ion-icon slot="icon-only" name="log-out"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of stats">
        <stat-item [item]="item"></stat-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
