<basic-header
  [currScore]="currScore"
  [maxScore]="maxScore"
  [currQuestion]="currQuestion"
  [maxQuestion]="numQuestion"
  (returnHome)="goHome()"
  (reportError)="reportBug()"
  (logout)="logout()"
></basic-header>

<ion-content>
  <ion-text *ngIf="!questionData" class="ion-text-center ion-text-wrap">Keine Frage vorhanden</ion-text>

  <ion-grid fixed *ngIf="questionData">
    <ion-row class="question-tile">
      <ion-col size-lg="2" size-sm="6" size-xs="12">
        <ion-text class="ion-text-wrap">Thema: </ion-text><ion-text class="ion-text-wrap">{{ questionData.meta.topic }}</ion-text>
      </ion-col>
      <ion-col size-lg="1" size-sm="3" size-xs="6">
        <ion-text class="ion-text-wrap">Bundle: </ion-text><ion-text class="ion-text-wrap">{{ questionData.meta.bundle }}</ion-text>
      </ion-col>
      <ion-col size-lg="1" size-sm="3" size-xs="6">
        <ion-text class="ion-text-wrap">Punkte: </ion-text><ion-text class="ion-text-wrap">{{ questionData.meta.points | formatNumber }}</ion-text>
      </ion-col>

      <ion-col size-lg="3" size-sm="6" size-xs="12">
        <ion-slides *ngIf="questionData.question.images" [options]="sliderConfig" class="slidesResponsive" [pager]="questionData.question.images.length > 1">
          <ion-slide *ngFor="let img of questionData.question.images">
            <ion-card class="noHeader">
              <ion-card-content>
                <div class="swiper-zoom-container">
                  <img [src]='img'/>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>

      <ion-col size-lg="5" size-sm="6" size-xs="12" class="flex-container-col">
        <div class="question flex-container-row">
          <ion-text class="ion-text-wrap">{{ questionData.question.text }}</ion-text>
        </div>
        <div *ngIf="questionData.question.audio" class="flex-container-row" style="margin-top: 10px; margin-bottom: 10px">
          <audio
            [src]="questionData.question.audio"
            controls preload="auto"
            style="max-width: 100%;"></audio>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let answerOption of questionData.answers" class="answer-tile">
      <ion-col size-sm="1" size-xs="2" [hidden]="questionData.answers.length === 1">
        <ion-checkbox [(ngModel)]="answerOption.chosen"></ion-checkbox>
      </ion-col>

      <ion-col size-lg="3" size-sm="6" size-xs="10">
        <ion-text *ngIf="answerOption.text" class="ion-text-wrap">{{ answerOption.text }}</ion-text>
      </ion-col>

      <ion-col size-lg="3" size-sm="5" size-xs="12">
        <ion-slides *ngIf="answerOption.images" [options]="sliderConfig" class="slidesResponsive" [pager]="answerOption.images.length > 1">
          <ion-slide *ngFor="let img of answerOption.images">
            <ion-card class="noHeader">
              <ion-card-header></ion-card-header>
              <ion-card-content>
                <div class="swiper-zoom-container">
                  <img [src]='img'/>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>

        <div *ngIf="answerOption.audio" class="flex-container-row" style="margin-top: 10px; margin-bottom: 10px">
          <audio [src]="answerOption.audio" controls preload="auto" style="max-width: 100%;"></audio>
        </div>
      </ion-col>

      <ion-col size-lg="5" size-sm="12" size-xs="12">
        <ion-textarea class="txt-input" wrap="soft" autoGrow="True" [(ngModel)]="answerOption.answer" placeholder="weitere Erklärungen?"></ion-textarea>
      </ion-col>

    </ion-row>

    <ion-row class="file-transfer-tile">
      <ion-col size="12">
        <ion-list class="ion-padding">
          <ion-list-header>
            <ion-label class="ion-text-wrap">Dateien</ion-label>
            <ion-note>
              <ion-button (click)="addFile()">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
            </ion-note>
          </ion-list-header>

          <file-items
            [byMime]="filesByMime"
            [deletable]="false"
            [sliderConfig]="sliderConfig"
            (openFile)="openFile($event)"></file-items>

          <file-items
            [byMime]="userFilesByMime"
            [deletable]="true"
            [sliderConfig]="sliderConfig"
            (openFile)="openFile($event)"
            (deleteFile)="deleteFile($event)"></file-items>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="sendAnswer()" expand="block">OK</ion-button>
</ion-content>
