<ion-header>
  <ion-toolbar>
    <ion-title>Bestätigen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-container-row" style="height: 100%;">
    <div class="flex-container-col" style="width: 90%;">
      <form>
        <ion-item>
          <ion-label position="floating">Email Code <ion-text class="field-required">*</ion-text></ion-label>
          <ion-input class="form-control" required="true" [(ngModel)]="code" name="code"></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block" (click)="submit()">Login</ion-button>
      </form>
    </div>
  </div>
</ion-content>
