<ion-header>
	<ion-toolbar *ngIf="headerExpanded">

    <ion-grid>
        <ion-row>
          <ion-col>
            <ion-select placeholder="1. Ebene" interface="popover" (ionChange)="changedSelect(1)" [(ngModel)]="sectionFilter[0]">
              <ion-select-option *ngFor="let option of sectionOptions" [value]="option.val">{{ option.name }}</ion-select-option>
            </ion-select>
          </ion-col>

        <ion-col>
          <ion-button disabled size="small" [class.hide]="sectionFilter[0] === null">
            <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-select placeholder="2. Ebene" interface="popover" (ionChange)="changedSelect(2)" [(ngModel)]="sectionFilter[1]" [class.hide]="sectionFilter[0] === null">
            <ion-select-option *ngFor="let option of sectionOptions2nd" [value]="option.val">{{ option.name }}</ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col>
          <ion-button disabled size="small" [class.hide]="sectionFilter[1] === null" [class.btn-disabled]="!sectionOptions3rd.length">
            <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-select placeholder="3. Ebene" interface="popover" (ionChange)="changedSelect(3)" [(ngModel)]="sectionFilter[2]" [class.hide]="sectionFilter[1] === null" [disabled]="!sectionOptions3rd.length">
            <ion-select-option *ngFor="let option of sectionOptions3rd" [value]="option.val">{{ option.name }}</ion-select-option>
          </ion-select>
        </ion-col>
        </ion-row>

      <ion-row>
        <ion-col size-sm="2.5" [class.hide]="winSize > WindowSize.xs">
          <ion-chip disabled>{{ totalPoints | formatNumber }} P. gesamt</ion-chip>
        </ion-col>

        <ion-col size-sm="2.5" [class.hide]="winSize > WindowSize.xs">
          <ion-chip disabled>{{ openQuestionPoints | formatNumber }}/{{ maxOpenQuestionPoints | formatNumber }} P. erreicht</ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
	</ion-toolbar>

  <ion-toolbar>
    <ion-grid fixed style="margin: 0; padding: 0; width: 100%;">
      <ion-row>
        <ion-col size-xs="3" size-sm="1.5">
			<ion-button *ngIf="headerExpanded" (click)="headerExpanded = !headerExpanded">
				<ion-icon name="arrow-dropdown"></ion-icon>
			</ion-button>

			<ion-button *ngIf="!headerExpanded" (click)="headerExpanded = !headerExpanded">
				<ion-icon name="arrow-dropright"></ion-icon>
      </ion-button>
      </ion-col>

      <ion-col size-sm="2.5" [class.hide]="winSize === WindowSize.xs">
      <ion-chip disabled>{{ totalPoints | formatNumber }} P. gesamt</ion-chip>
      </ion-col>

      <ion-col size-sm="2.5" [class.hide]="winSize === WindowSize.xs">
      <ion-chip disabled>{{ openQuestionPoints | formatNumber }}/{{ maxOpenQuestionPoints | formatNumber }} P. erreicht</ion-chip>
      </ion-col>

      <ion-col size-xs="6" size-sm="4">
      <ion-button *ngIf="chosenQuestions" fill="outline" [routerLink]="['/quiz/detail']" routerDirection="forward">
        {{ chosenQuestions | formatNumber }} Frage/n. GO!
      </ion-button>
      </ion-col>

      <ion-col size-xs="3" size-sm="1.5">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
      </ion-col>
      </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content (window:resize)="windowSizeOnResize($event)">

  <!-- Testing -->
  <ion-text>Window Size: {{ winSize }}</ion-text>
<!--
  <ion-text [routerLink]="['/quiz/end']" routerDirection="forward" style="text-decoration:underline">Link</ion-text>

  <ion-button href="https://capacitor.ionicframework.com/docs/apis/filesystem">
    <ion-icon slot="start" name="document"></ion-icon>
    API Details
  </ion-button>
  <ion-button (click)="fileRead()">file read</ion-button>
  <ion-button (click)="readdir()">dir read</ion-button>
  <ion-button (click)="testing()">testing</ion-button>
-->

  <div *ngIf="!data.length" class="flex-container-row" style="height:100%">
      <div class="flex-container-col">
        <h2>Glückwunsch, du hast keine ausstehenden Fragen mehr 🙂</h2>
      </div>
  </div>

  <div *ngIf="data.length">
    <ion-list detail="false" class="accordeon-list">
      <div *ngFor="let item of data; let i = index;">
        <ion-item tappable class="accordeon-list-1st-level" (click)="toggleExpanded(i)">
          <ion-icon *ngIf="item.expanded && !item.chosen" slot="start" name="arrow-dropdown-circle"></ion-icon>
          <ion-icon *ngIf="!item.expanded && !item.chosen" slot="start" name="arrow-dropright-circle"></ion-icon>
          <ion-label class="ion-text-wrap">{{ item.title }}</ion-label>

          <ion-note slot="end">
            <ion-chip [class.hide]="winSize === WindowSize.xs">{{ item.currScore | formatNumber }}/{{ item.maxScore | formatNumber }} P.</ion-chip>
            <ion-chip>{{ item.openQuestions | formatNumber }}</ion-chip>
          </ion-note>

          <ion-checkbox [(ngModel)]="item.chosen" slot="end" (ionChange)="changedChosen(i)"></ion-checkbox>
        </ion-item>

        <div *ngIf="item.children.length && item.expanded && !item.chosen">
          <ion-list detail="false" class="accordeon-child-list">
            <div *ngFor="let child of item.children; let j = index;">
              <ion-item tappable class="accordeon-list-2nd-level" (click)="toggleExpanded(i, j)">
                <ion-icon *ngIf="child.expanded && !child.chosen" slot="start" name="arrow-dropdown-circle"></ion-icon>
                <ion-icon *ngIf="!child.expanded && !child.chosen" slot="start" name="arrow-dropright-circle"></ion-icon>
                <ion-label class="ion-text-wrap">{{ child.title }}</ion-label>

                <ion-note slot="end">
                  <ion-chip [class.hide]="winSize === WindowSize.xs">{{ child.currScore | formatNumber }}/{{ child.maxScore | formatNumber }} P.</ion-chip>
                  <ion-chip>{{ child.openQuestions | formatNumber }}</ion-chip>
                </ion-note>

                <ion-checkbox [(ngModel)]="child.chosen" slot="end" (ionChange)="changedChosen(i, j)"></ion-checkbox>
              </ion-item>

              <div *ngIf="child.children.length && child.expanded && !child.chosen">
                <ion-list detail="false" class="accordeon-child-list">
                  <div *ngFor="let grandchild of child.children; let k = index;">
                    <ion-item tappable class="accordeon-list-3rd-level">
                      <ion-label class="ion-text-wrap">{{ grandchild.title }}</ion-label>

                      <ion-note slot="end">
                        <ion-chip [class.hide]="winSize === WindowSize.xs">{{ grandchild.currScore | formatNumber }}/{{ grandchild.maxScore | formatNumber }} P.</ion-chip>
                      <ion-chip>{{ grandchild.openQuestions | formatNumber }}</ion-chip>
                      </ion-note>

                      <ion-checkbox [(ngModel)]="grandchild.chosen" slot="end" (ionChange)="changedChosen(i, j, k)"></ion-checkbox>
                    </ion-item>
                  </div>
                </ion-list>
              </div>
            </div>
          </ion-list>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
