<full-header
  [config]="headerConfig"
  [secFilter]="sectionFilter"
  [secOptions]="sectionOptions"
  [totalPoints]="totalPoints"
  [openQuestionPoints]="openQuestionPoints"
  [maxOpenQuestionPoints]="maxOpenQuestionPoints"
  [chosenQuestions]="chosenQuestions"
  (levelChange)="changedSelect($event)"
  (logout)="logout()"
></full-header>

<ion-content>

  <!-- Testing -->
  <!--
  <ion-text>Window Size: {{ winSize }}</ion-text>
  <ion-text [routerLink]="['/quiz/end']" routerDirection="forward" style="text-decoration:underline">Link</ion-text>
  <ion-button href="https://capacitor.ionicframework.com/docs/apis/filesystem">
    <ion-icon slot="start" name="document"></ion-icon>
    API Details
  </ion-button>
  <ion-button (click)="fileRead()">file read</ion-button>
  <ion-button (click)="readdir()">dir read</ion-button>
  <ion-button (click)="testing()">testing</ion-button>
-->

  <div *ngIf="!data.length" class="flex-container-row" style="height:100%">
    <div class="flex-container-col">
      <h2>Glückwunsch, du hast keine ausstehenden Fragen mehr 🙂</h2>
    </div>
  </div>

  <div *ngIf="data.length">
    <ion-list class="accordeon-list">
      <div *ngFor="let item of data; let i = index;">

        <accordeon-item
          [item]="item"
          [config]="accordeonConfig"
          (cClick)="toggleExpanded(i)"
          class="accordeon-list-1st-level"
          (cChange)="changedChosen(i)"></accordeon-item>

        <div *ngIf="item.children.length && item.expanded && !item.chosen">
          <ion-list class="accordeon-child-list">
            <div *ngFor="let child of item.children; let j = index;">

              <accordeon-item
                [item]="child"
                [config]="accordeonConfig"
                (cClick)="toggleExpanded(i, j)"
                class="accordeon-list-2nd-level"
                (cChange)="changedChosen(i, j)"></accordeon-item>


              <div *ngIf="child.children.length && child.expanded && !child.chosen">
                <ion-list class="accordeon-child-list">
                  <div *ngFor="let gchild of child.children; let k = index;">

                    <accordeon-item
                      [item]="gchild"
                      [config]="accordeonConfig"
                      (cClick)="toggleExpanded(i, j, k)"
                      class="accordeon-list-3rd-level"
                      (cChange)="changedChosen(i, j, k)"></accordeon-item>


                    <div *ngIf="gchild.children.length && gchild.expanded && !gchild.chosen">
                      <ion-list class="accordeon-child-list">
                        <div *ngFor="let ggchild of gchild.children; let l = index;">

                          <accordeon-item
                            [item]="ggchild"
                            [config]="accordeonConfig"
                            (cClick)="toggleExpanded(i, j, k, l)"
                            class="accordeon-list-4th-level"
                            (cChange)="changedChosen(i, j, k, l)"></accordeon-item>

                        </div>
                      </ion-list>
                    </div>
                  </div>
                </ion-list>
              </div>
            </div>
          </ion-list>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
