<ion-item *ngIf="item.children.length" tappable [class]="class" (click)="emitClick()" detail=false>
  <ion-icon *ngIf="item.expanded && !item.chosen" slot="start" name="arrow-dropdown-circle"></ion-icon>
  <ion-icon *ngIf="!item.expanded && !item.chosen" slot="start" name="arrow-dropright-circle">
  </ion-icon>
  <ion-label class="ion-text-wrap">{{ item.title }}</ion-label>

  <ion-note slot="end">
    <ion-chip [class.hide]="hide">
      {{ item.currScore | formatNumber }}/{{ item.maxScore | formatNumber }} P.</ion-chip>
    <ion-chip [class.childChosen]="item.childChosen">{{ item.openQuestions | formatNumber }}</ion-chip>
  </ion-note>

  <ion-checkbox [(ngModel)]="item.chosen" slot="end" (ionChange)="emitChanged()"></ion-checkbox>
</ion-item>



<ion-item *ngIf="!item.children.length" tappable [class]="class" detail=false>
  <ion-label class="ion-text-wrap">{{ item.title }}</ion-label>

  <ion-note slot="end">
    <ion-chip [class.hide]="hide">
      {{ item.currScore | formatNumber }}/{{ item.maxScore | formatNumber }} P.
    </ion-chip>
    <ion-chip>{{ item.openQuestions | formatNumber }}</ion-chip>
  </ion-note>

  <ion-checkbox [(ngModel)]="item.chosen" slot="end" (ionChange)="emitChanged()">
  </ion-checkbox>
</ion-item>
