<ion-header>
  <ion-toolbar>
    <ion-title>Log in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-container-row" style="height: 100%;">
    <div class="flex-container-col" style="width: 90%;">
      <form>
        <ion-item>
          <ion-label position="floating">E-Mail <ion-text class="field-required">*</ion-text></ion-label>
          <ion-input type="email" pattern="^.+@.+\..+$" class="form-control" required="true" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Passwort <ion-text  class="field-required">*</ion-text></ion-label>
          <ion-input class="form-control" required="true" type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>

        <ion-button type="submit" expand="block" (click)="submit()">Login</ion-button>
      </form>

      <ion-text tappable [routerLink]="['/register']" routerDirection="forward" class="link">Noch keinen Account?</ion-text>
      <ion-text tappable (click)="forgotPassword()" class="link">Passwort vergessen?</ion-text>

    </div>
  </div>
</ion-content>
